{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unicorn Issue Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    {% include 'includes/_navbar.html' %} {% include 'includes/_messages.html' %}
    <div class="container mt-5">
        <br>
        <br>
        <div>
            <h3 class="custom-color">Welcome to Unicorn Issue Tracker.</h3>
            <p class="custom-color"><strong>This is where the magic happens...</strong></p>
        </div>
        {% include 'includes/_footer.html' %}
</body>

</html>
