{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}




<!-- Content -->
<section class='table-section'>
    <div class='container'>
        <br>
        <br>
        <br>
        <div class='row mt-5'>
            <div>
                <h1>Welcome {{ user }} </h1>
                <p>You are logged in as {{ user.email }} </p>
                <br>
                <br>
                {% block page_title %}
                <h2> My Tickets</h2>{% endblock %}
            </div>
            <br>
           
            <div class="table-responsive mt-5 pb-5">
                <table class='table table-striped table-dark table-fade'>
                    <thead>
                        <tr>
                            <th class="font-style" scope="col">Title</th>
                            <th class="d-none d-md-table-cell font-style" scope="col">Description</th>
                            <th class="d-none d-md-table-cell font-style" scope="col">Views</th>
                            <th class="d-none d-md-table-cell font-style" scope="col">Upvotes</th>
                            <th class="d-none d-md-table-cell font-style" scope="col">Status</th>
                            <th class="d-none d-md-table-cell font-style" scope="col">Date&nbsp;Created</th>
                            <th class="font-style" scope="col">Type</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                        <tr>
                            <td>
                                <h5>{{ ticket.title}}</h5>
                            </td>
                            <td class='d-none d-md-table-cell'>
                                {{ ticket.description}}
                            </td>
                            <td class='d-none d-md-table-cell'>
                                <i class="far fa-eye"></i> {{ ticket.views }}
                            </td>
                            <td class='d-none d-md-table-cell'>
                                <i class="fa fa-thumbs-up upvotes"></i> {{ ticket.upvotes }}
                            </td>
                            <td class='d-none d-md-table-cell'>
                                {{ ticket.status }}
                            </td>
                            <td class='d-none d-md-table-cell'>
                                {{ ticket.created_date}}
                            </td>
                            {% if ticket.ticket_type == 'BUG' %}
                            <td>
                                <i class="fa fa-bug bug fa-2x bug-icon-color"></i>
                            </td>
                            {% else %}
                            <td>
                                <i class="fas fa-lightbulb fa-2x feature-icon-color"></i>
                            </td>
                            {% endif %}
                            <td>
                                <form class="button-style" method="GET" action="{% url 'ticket_view' ticket.id %}"><input class='btn btn-info' type="submit" value="View Ticket"></form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
